.button {
  display: block;
  padding: 15px;

  font-family: inherit;
  font-size: 17px;
  font-weight: 800;
  line-height: 20px;
  color: @color-secondary;
  text-align: center;
  text-transform: uppercase;

  background-color: @color-main;
  border: 2px solid @color-secondary;

  transition: 0.3s;

  &:hover,
  &:focus {
    background-color: @color-secondary;
    color: @color-main;
  }

  &:active {
    color: fade(@color-main, 30%);
  }

  &--cart-add {
    color: @color-main;

    background-color: @color-vibrant;
    border: none;
  }
}
