.main-nav {
  width: 100%;
  margin-left: auto;
  margin-right: auto;

  @media (max-width: @mobile-width-only) {
    background-color: @color-main;
  }

  @media (min-width: @tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    max-width: @tablet-width;
  }

  @media (min-width: @desktop-width) {
    max-width: @desktop-width;
  }
}

.main-nav__delivery-text {
  display: none;
  margin: 0;

  font-size: 15px;
  font-weight: 400;
  color: @color-secondary;

  @media (min-width: @tablet-width) {
    order: 3;
    display: block;
    width: 320px;
    padding-top: 8px;
    padding-bottom: 10px;
    padding-right: 50px;

    text-align: right;
  }

  @media (min-width: @desktop-width) {
    order: 4;
    padding-top: 17px;
    padding-bottom: 17px;
  }
}

.main-nav__logo {
  margin-right: 63px;

  @media (min-width: @desktop-width) {
    margin-right: 0;
  }
}

.main-nav__logo-wrap {
  width: 320px;
  padding-top: 22px;
  padding-bottom: 15px;
  padding-left: 116px;
  margin-left: auto;
  margin-right: auto;

  @media (min-width: @tablet-width) {
    order: 0;
    flex-grow: 1;
    width: 200px;
    padding-left: 50px;
  }

  @media (min-width: @desktop-width) {
    order: 1;
    padding: 8px 75px 3px;
  }
}

.main-nav__toggle {
  position: relative;

  width: 20px;
  height: 20px;
  padding: 0;
  vertical-align: super;

  background: none;

  cursor: pointer;
  border: none;

  @media (min-width: @tablet-width) {
    display: none;
  }
}

.main-nav--closed .main-nav__toggle::before {
  content: "";

  position: absolute;
  top: 0;
  left: 0;

  width: 20px;
  height: 2px;

  background-color: @color-secondary--dark;
  box-shadow: 0 6px 0 0 @color-secondary--dark, 0 12px 0 0 @color-secondary--dark;
}

.main-nav--closed .site-menu,
.main-nav--closed .user-menu {
  @media (max-width: @mobile-width-only) {
    position: absolute;
    z-index: -1;
  }
}

.main-nav--opened {
  @media (max-width: @mobile-width-only) {
    .site-menu,
    .user-menu {
      position: absolute;
      z-index: 10;

      background-color: @color-main;
    }

    .user-menu {
      top: 235px;
    }
  }
}

.main-nav--opened .main-nav__toggle {
  &::before,
  &::after {
    content: "";

    position: absolute;
    top: 7px;
    left: -3px;

    width: 27px;
    height: 2px;

    background-color: @color-secondary--dark;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }
}

.main-nav--nojs .main-nav__toggle {
  display: none;
}

.main-nav--nojs .site-menu,
.main-nav--nojs .user-menu {
  position: relative;
  z-index: 10;
}
