.order-form {
  padding-top: 21px;
  padding-bottom: 54px;

  @media (min-width: @tablet-width) {
    padding-top: 63px;
    padding-bottom: 50px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 74px;
  }
}

.order-form__text {
  margin-top: 0;
  margin-bottom: 24px;

  font-size: 13px;
  font-weight: 400;
  color: @color-secondary;
  text-align: left;

  @media (min-width: @tablet-width) {
    margin-bottom: 53px;

    font-size: 17px;
    line-height: 30px;
  }

  @media (min-width: @desktop-width) {
    padding: 30px 224px;
    margin-bottom: 0;
  }
}

.order-form__remark {
  margin: 0;
  margin-bottom: 30px;

  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  color: @color-secondary;
  text-align: left;

  @media (min-width: @tablet-width) {
    order: 1;
    margin-bottom: 0;

    font-size: 17px;
    line-height: 30px;
  }
}

.order-form__btn {
  width: 100%;

  @media (min-width: @tablet-width) {
    width: 230px;
    order: 0;
  }

  @media (min-width: @desktop-width) {
    margin-right: 170px;
  }
}

.order-form__contacts-wrap {
  margin-bottom: 35px;

  @media (min-width: @tablet-width) {
    padding-top: 28px;
    padding-bottom: 50px;
    margin-bottom: 4px;

    background-color: @color-main--dark;
  }

  @media (min-width: @desktop-width) {
    padding-top: 30px;
  }
}

.order-form__bottom {
  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

  @media (min-width: @desktop-width) {
    justify-content: flex-end;
  }
}

.order-form__user-form {
  @media (min-width: @tablet-width) {
    padding-bottom: 47px;
  }
}

.order-form__tel-form {
  @media (min-width: @tablet-width) {
    margin-bottom: 6px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 8px;
  }
}
