.slogan {
  min-height: 284px;
  padding: 70px 38px;

  font-size: 27px;
  line-height: 30px;
  color: @color-secondary--darker;
  text-align: center;

  @media (min-width: @tablet-width) {
    min-height: 568px;
    padding: 95px 50px;

    font-size: 43px;
    line-height: 50px;
    color: @color-secondary--darkest;
  }

  @media (min-width: @desktop-width) {
    padding-left: 110px;
    padding-right: 110px;

    font-size: 53px;
    line-height: 57px;
  }
}
