@font-face {
  font-family: "Open Sans";
  src: url("../fonts/opensans.woff2") format("woff2"), url("../fonts/opensans.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/opensansbold.woff2") format("woff2"), url("../fonts/opensansbold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}
body {
  min-width: 320px;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 17px;
  font-weight: 800;
  line-height: 24px;
  color: #000000;
  font-style: normal;
  background-color: #ffffff;
}
a {
  color: #000000;
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
}
.visually-hidden,
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.placeholder::-webkit-input-placeholder {
  color: rgba(68, 68, 68, 0.3);
}
.placeholder::-moz-placeholder {
  color: rgba(68, 68, 68, 0.3);
}
.solution-ie {
  pointer-events: none;
}
.page-header {
  position: relative;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(30%, #ffffff), color-stop(30%, #f1f1f1));
  background-image: linear-gradient(#ffffff 30%, #f1f1f1 30%);
}
@media (min-width: 768px) {
  .page-header {
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(27%, #ffffff), color-stop(27%, #f1f1f1));
    background-image: linear-gradient(#ffffff 27%, #f1f1f1 27%);
  }
  .page-header::after {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 24px;
    background-image: url("../img/bg-zigzag-fill.svg");
    background-size: contain;
  }
}
@media (min-width: 1150px) {
  .page-header {
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(24%, #ffffff), color-stop(24%, #f1f1f1));
    background-image: linear-gradient(#ffffff 24%, #f1f1f1 24%);
  }
  .page-header::after {
    height: 34px;
  }
  .page-header--index::after {
    bottom: -10px;
    height: 40px;
    background-size: cover;
  }
}
.page-header--index {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(10.5%, #ffffff), color-stop(10.5%, #f9f9f9));
  background-image: linear-gradient(#ffffff 10.5%, #f9f9f9 10.5%);
}
@media (min-width: 768px) {
  .page-header--index {
    background-image: url("../img/hero-tablet@1x.jpg");
    background-repeat: no-repeat;
    background-position: 50% 90%;
  }
}
@media (min-width: 768px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 768px) and (min-resolution: 144dpi), (min-width: 768px) and (min-resolution: 1.5dppx) {
  .page-header--index {
    background-image: url("../img/hero-tablet@2x.jpg");
    background-size: 1150px auto;
  }
}
@media (min-width: 1150px) {
  .page-header--index {
    background-image: url("../img/hero-desktop@1x.jpg"), -webkit-gradient(linear, left top, left bottom, color-stop(10.5%, #ffffff), color-stop(10.5%, #f9f9f9));
    background-image: url("../img/hero-desktop@1x.jpg"), linear-gradient(#ffffff 10.5%, #f9f9f9 10.5%);
  }
}
@media (min-width: 1150px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 1150px) and (min-resolution: 144dpi), (min-width: 1150px) and (min-resolution: 1.5dppx) {
  .page-header--index {
    background-image: url("../img/hero-desktop@2x.jpg");
    background-size: 1150px auto;
  }
}
.page-header__slogan {
  margin: 0;
}
@media (max-width: 767px) {
  .page-header__slogan {
    border-top: 1px solid #ececec;
  }
}
.page-header__slogan-menu {
  min-height: 486px;
  background-image: url("../img/hero-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: 50% -17%;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  .page-header__slogan-menu {
    background-image: url("../img/hero-mobile@2x.jpg");
    background-size: 575px auto;
  }
}
@media (min-width: 768px) {
  .page-header__slogan-menu {
    background-image: none;
  }
}
@media (min-width: 1150px) {
  .page-header__slogan-menu {
    max-width: 1150px;
    margin-left: auto;
    margin-right: auto;
  }
}
.page-header__title {
  margin: 0;
  padding: 72px 30px 76px;
}
@media (max-width: 767px) {
  .page-header__title {
    border-top: 1px solid #ececec;
  }
}
@media (min-width: 768px) {
  .page-header__title {
    min-height: 177px;
    padding: 38px 50px 38px;
  }
}
@media (min-width: 1150px) {
  .page-header__title {
    min-height: 213px;
    padding-top: 36px;
  }
}
@media (min-width: 768px) {
  .page-header__main-nav {
    position: relative;
  }
  .page-header__main-nav::after {
    content: "";
    position: absolute;
    top: 89px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #ececec;
  }
}
.page-title {
  font-size: 27px;
  line-height: 30px;
  text-align: center;
}
@media (min-width: 768px) {
  .page-title {
    font-size: 43px;
    line-height: 50px;
  }
}
@media (min-width: 1150px) {
  .page-title {
    font-size: 53px;
    line-height: 57px;
  }
}
.slogan {
  min-height: 284px;
  padding: 70px 38px;
  font-size: 27px;
  line-height: 30px;
  color: #010000;
  text-align: center;
}
@media (min-width: 768px) {
  .slogan {
    min-height: 568px;
    padding: 95px 50px;
    font-size: 43px;
    line-height: 50px;
    color: #000000;
  }
}
@media (min-width: 1150px) {
  .slogan {
    padding-left: 110px;
    padding-right: 110px;
    font-size: 53px;
    line-height: 57px;
  }
}
.main-nav {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 767px) {
  .main-nav {
    background-color: #ffffff;
  }
}
@media (min-width: 768px) {
  .main-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 768px;
  }
}
@media (min-width: 1150px) {
  .main-nav {
    max-width: 1150px;
  }
}
.main-nav__delivery-text {
  display: none;
  margin: 0;
  font-size: 15px;
  font-weight: 400;
  color: #444444;
}
@media (min-width: 768px) {
  .main-nav__delivery-text {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    display: block;
    width: 320px;
    padding-top: 8px;
    padding-bottom: 10px;
    padding-right: 50px;
    text-align: right;
  }
}
@media (min-width: 1150px) {
  .main-nav__delivery-text {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
    padding-top: 17px;
    padding-bottom: 17px;
  }
}
.main-nav__logo {
  margin-right: 63px;
}
@media (min-width: 1150px) {
  .main-nav__logo {
    margin-right: 0;
  }
}
.main-nav__logo-wrap {
  width: 320px;
  padding-top: 22px;
  padding-bottom: 15px;
  padding-left: 116px;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 768px) {
  .main-nav__logo-wrap {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    width: 200px;
    padding-left: 50px;
  }
}
@media (min-width: 1150px) {
  .main-nav__logo-wrap {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    padding: 8px 75px 3px;
  }
}
.main-nav__toggle {
  position: relative;
  width: 20px;
  height: 20px;
  padding: 0;
  vertical-align: super;
  background: none;
  cursor: pointer;
  border: none;
}
@media (min-width: 768px) {
  .main-nav__toggle {
    display: none;
  }
}
.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 2px;
  background-color: #221f1f;
  -webkit-box-shadow: 0 6px 0 0 #221f1f, 0 12px 0 0 #221f1f;
          box-shadow: 0 6px 0 0 #221f1f, 0 12px 0 0 #221f1f;
}
@media (max-width: 767px) {
  .main-nav--closed .site-menu,
  .main-nav--closed .user-menu {
    position: absolute;
    z-index: -1;
  }
}
@media (max-width: 767px) {
  .main-nav--opened .site-menu,
  .main-nav--opened .user-menu {
    position: absolute;
    z-index: 10;
    background-color: #ffffff;
  }
  .main-nav--opened .user-menu {
    top: 235px;
  }
}
.main-nav--opened .main-nav__toggle::before,
.main-nav--opened .main-nav__toggle::after {
  content: "";
  position: absolute;
  top: 7px;
  left: -3px;
  width: 27px;
  height: 2px;
  background-color: #221f1f;
}
.main-nav--opened .main-nav__toggle::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-box-shadow: none;
          box-shadow: none;
}
.main-nav--opened .main-nav__toggle::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.main-nav--nojs .main-nav__toggle {
  display: none;
}
.main-nav--nojs .site-menu,
.main-nav--nojs .user-menu {
  position: relative;
  z-index: 10;
}
.wrapper {
  width: 320px;
  padding-left: 30px;
  padding-right: 30px;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 768px) {
  .wrapper {
    width: 768px;
    padding-left: 50px;
    padding-right: 50px;
  }
}
@media (min-width: 1150px) {
  .wrapper {
    width: 1150px;
  }
}
@media (min-width: 1150px) {
  .wrapper--larger-padding {
    padding-left: 114px;
    padding-right: 225px;
  }
}
.page-footer {
  background-color: #f1f1f1;
}
.page-footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media (min-width: 768px) {
  .page-footer__wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 22px;
    padding-bottom: 20px;
  }
}
.page-footer__logo {
  display: none;
}
@media (min-width: 768px) {
  .page-footer__logo {
    display: block;
    padding-top: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    margin-right: 50px;
  }
}
@media (max-width: 767px) {
  .page-footer__social {
    -webkit-box-shadow: 0 1px 0 0 #e5e5e5;
            box-shadow: 0 1px 0 0 #e5e5e5;
  }
}
@media (min-width: 768px) {
  .products-menu {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-left: 50px;
    padding-right: 50px;
  }
}
.products-menu__item {
  position: relative;
  display: block;
  width: 100%;
  min-height: 103px;
  padding: 25px 115px 30px 30px;
  font-size: 19px;
  color: #ffffff;
  text-align: left;
  background-color: #63d1bb;
}
@media (min-width: 768px) {
  .products-menu__item {
    padding: 30px 115px 40px 35px;
    min-height: 119px;
    font-size: 20px;
    line-height: 30px;
  }
  .products-menu__item:hover {
    -webkit-transform: scaleY(1.04) translateY(-3px);
            transform: scaleY(1.04) translateY(-3px);
  }
  .products-menu__item:hover::after {
    top: 19px;
    opacity: 0.7;
  }
}
@media (min-width: 1150px) {
  .products-menu__item {
    padding: 28px 305px 42px 35px;
  }
}
.products-menu__item--toys {
  background-color: #56c3b2;
}
.products-menu__item::after {
  content: "";
  position: absolute;
  top: 24px;
  right: 16px;
  width: 60px;
  height: 65px;
  background-repeat: no-repeat;
  opacity: 0.5;
}
.products-menu__item--interior::after {
  background-image: url("../img/icon-interior.svg");
}
.products-menu__item--toys::after {
  right: 26px;
  background-image: url("../img/icon-toy.svg");
}
.products-menu__item:active {
  color: rgba(255, 255, 255, 0.3);
}
.products-menu__item:active::after {
  opacity: 0.3;
}
.reviews {
  position: relative;
}
.reviews::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 6px;
  background-image: url("../img/bg-zigzag-line.svg");
  background-repeat: repeat-x;
  background-position: bottom left;
  background-size: contain;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
@media (min-width: 768px) {
  .reviews::after {
    height: 16px;
  }
}
@media (min-width: 1150px) {
  .reviews::after {
    height: 21px;
  }
}
.reviews__wrapper {
  width: 320px;
  margin-left: auto;
  margin-right: auto;
  padding: 30px 30px 50px;
}
@media (min-width: 768px) {
  .reviews__wrapper {
    width: 768px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 77px 48px 95px 48px;
    background-image: url("../img/review@1x.jpg");
    background-size: 350px 457px;
    background-repeat: no-repeat;
    background-position: top left;
  }
}
@media (min-width: 768px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 768px) and (min-resolution: 144dpi), (min-width: 768px) and (min-resolution: 1.5dppx) {
  .reviews__wrapper {
    background-image: url("../img/review@2x.jpg");
  }
}
@media (min-width: 1150px) {
  .reviews__wrapper {
    width: 1050px;
    padding: 67px 0 150px 173px;
  }
}
.reviews__title {
  margin: 0;
  margin-bottom: 24px;
  font-size: 25px;
  line-height: 30px;
}
@media (min-width: 768px) {
  .reviews__title {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
    margin-bottom: 48px;
    font-size: 43px;
    line-height: 50px;
  }
}
@media (min-width: 1150px) {
  .reviews__title {
    margin-bottom: 49px;
    font-size: 53px;
    line-height: 57px;
  }
}
.reviews__item {
  margin-bottom: 30px;
}
@media (min-width: 768px) {
  .reviews__item {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}
@media (max-width: 767px) {
  .reviews__btn {
    font-size: 18px;
  }
}
@media (min-width: 768px) {
  .reviews__btn {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    width: 175px;
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
}
@media (min-width: 1150px) {
  .reviews__btn {
    margin-top: 8px;
  }
}
.reviews__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 38px;
}
@media (min-width: 768px) {
  .reviews__nav {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    margin-left: auto;
    margin-top: -81px;
    margin-right: 19px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 140px;
  }
}
@media (min-width: 768px) {
  .reviews__nav {
    margin-right: 16px;
  }
}
.reviews__arrow {
  position: relative;
  display: inline-block;
  width: 130px;
  min-height: 52px;
  padding: 0;
  border: 1px solid #ececec;
  background-color: #ffffff;
}
.reviews__arrow--left {
  border-right: none;
}
@media (min-width: 768px) {
  .reviews__arrow {
    width: 54px;
    border: none;
  }
}
.reviews__arrow--left::before,
.reviews__arrow--right::before {
  content: "";
  position: absolute;
  top: 12px;
  left: 37px;
  width: 50px;
  height: 26px;
  background-repeat: no-repeat;
}
@media (min-width: 768px) {
  .reviews__arrow--left::before,
  .reviews__arrow--right::before {
    left: 0;
  }
}
.reviews__arrow--left::before {
  background-image: url("../img/icon-left-arrow.svg");
}
@media (min-width: 768px) {
  .reviews__arrow--left::before {
    left: 2px;
  }
}
.reviews__arrow--right::before {
  background-image: url("../img/icon-right-arrow.svg");
}
@media (min-width: 768px) {
  .reviews__arrow--right::before {
    right: 6px;
  }
}
.reviews__arrow:hover::before,
.reviews__arrow:hover::after,
.reviews__arrow:focus::before,
.reviews__arrow:focus::after {
  opacity: 0.6;
}
.reviews__arrow:active::before,
.reviews__arrow:active::after {
  opacity: 0.3;
}
.review__text {
  margin: 0;
  margin-bottom: 28px;
  font-weight: 400;
  font-size: 15px;
  line-height: 30px;
  color: #444444;
}
@media (min-width: 768px) {
  .review__text {
    margin-bottom: 58px;
    font-size: 17px;
  }
}
@media (min-width: 1150px) {
  .review__text {
    margin-bottom: 39px;
    padding-right: 80px;
  }
}
.review__author {
  margin: 0;
}
@media (min-width: 768px) {
  .review__author {
    font-size: 18px;
  }
}
@media (min-width: 1150px) {
  .review__author {
    font-size: 17px;
  }
}
.review__account {
  margin: 0;
  font-weight: 400;
  line-height: 30px;
  color: #444444;
}
.site-menu {
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}
@media (min-width: 768px) {
  .site-menu {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 354px;
    padding-top: 17px;
    padding-bottom: 17px;
    padding-left: 50px;
  }
}
@media (min-width: 1150px) {
  .site-menu {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
    width: 425px;
    padding: 0;
  }
}
.site-menu__item {
  padding: 27px 27px 27px 75px;
  text-align: left;
}
@media (max-width: 767px) {
  .site-menu__item {
    width: 320px;
    margin-left: auto;
    margin-right: auto;
    border-top: 1px solid #ececec;
  }
}
@media (min-width: 768px) {
  .site-menu__item {
    padding: 0;
  }
}
@media (min-width: 1150px) {
  .site-menu__item {
    padding-top: 30px;
    padding-bottom: 32px;
  }
  .site-menu__item:first-child {
    width: 235px;
    padding-left: 50px;
    border-right: 1px solid #ececec;
  }
}
@media (min-width: 768px) and (max-width: 1149px) {
  .site-menu__link {
    font-size: 15px;
  }
}
.site-menu__link:hover,
.site-menu__link:focus {
  opacity: 0.6;
}
.site-menu__link:active {
  opacity: 0.3;
}
.user-menu {
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}
@media (min-width: 768px) {
  .user-menu {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 400px;
  }
}
@media (min-width: 1150px) {
  .user-menu {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}
.user-menu__item {
  padding: 27px 27px 27px 30px;
  text-align: left;
}
@media (max-width: 767px) {
  .user-menu__item {
    width: 320px;
    margin-left: auto;
    margin-right: auto;
    border-top: 1px solid #ececec;
  }
}
@media (min-width: 768px) {
  .user-menu__item {
    padding: 30px;
  }
}
.user-menu__item--search {
  text-align: left;
}
@media (min-width: 768px) {
  .user-menu__item--search {
    width: 86px;
    font-size: 0;
    line-height: 0;
    border-left: 1px solid #ececec;
    border-right: 1px solid #ececec;
  }
}
.user-menu__item--cart {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.user-menu__icon {
  margin-right: 21px;
  fill: #d3d2d2;
}
@media (min-width: 768px) {
  .user-menu__icon {
    margin-right: 27px;
  }
}
.user-menu__link:hover .user-menu__icon,
.user-menu__link:focus .user-menu__icon {
  fill: #63d1bb;
}
.user-menu__link:hover,
.user-menu__link:focus {
  opacity: 0.6;
}
.user-menu__link:active,
.user-menu__link:active .user-menu__icon,
.user-menu__icon:active {
  opacity: 0.3;
}
.special-menu {
  padding: 17px 0;
  margin: 0;
  display: none;
  font-size: 15px;
  list-style: none;
}
@media (min-width: 1150px) {
  .special-menu {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 365px;
    padding-left: 50px;
  }
}
.special-menu__link:hover,
.special-menu__link:focus {
  opacity: 0.6;
}
.special-menu__link:active {
  opacity: 0.3;
}
.week-product {
  position: relative;
  padding-top: 27px;
  padding-bottom: 40px;
}
@media (min-width: 768px) {
  .week-product {
    padding-top: 30px;
    padding-bottom: 65px;
  }
}
@media (min-width: 1150px) {
  .week-product {
    padding-top: 112px;
    padding-bottom: 95px;
  }
}
.week-product::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 6px;
  background-image: url("/img/bg-zigzag-line.svg");
  background-repeat: repeat-x;
  background-size: contain;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
@media (min-width: 768px) {
  .week-product::after {
    height: 16px;
  }
}
@media (min-width: 1150px) {
  .week-product::after {
    height: 21px;
  }
}
.week-product__name {
  margin: 0;
  margin-bottom: 5px;
  font-size: 25px;
  line-height: 30px;
}
@media (min-width: 768px) {
  .week-product__name {
    margin-bottom: 0;
    font-size: 43px;
    line-height: 50px;
  }
}
@media (min-width: 1150px) {
  .week-product__name {
    font-size: 53px;
    line-height: 57px;
  }
}
.week-product__title {
  margin: 0;
  font-size: 17px;
  font-weight: 800;
  line-height: 20px;
  color: #63d1bb;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .week-product__title {
    width: 130px;
    padding-top: 14px;
    padding-bottom: 7px;
    text-align: center;
    line-height: 17px;
  }
}
@media (min-width: 1150px) {
  .week-product__title {
    margin-right: 20px;
  }
}
.week-product__header {
  margin-bottom: 23px;
}
@media (min-width: 768px) {
  .week-product__header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    margin-bottom: 48px;
  }
}
@media (min-width: 1150px) {
  .week-product__header {
    position: relative;
    z-index: 1;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    padding-left: 18px;
    margin-bottom: 50px;
  }
}
.week-product__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media (min-width: 768px) {
  .week-product__card {
    display: block;
  }
}
@media (min-width: 1150px) {
  .week-product__card {
    padding-right: 580px;
    padding-left: 175px;
  }
}
.week-product__media {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}
.week-product__img {
  margin-bottom: 18px;
  width: 260px;
  height: 315px;
}
@media (min-width: 768px) {
  .week-product__img {
    float: right;
    width: 377px;
    height: 410px;
    padding-left: 44px;
    padding-top: 6px;
  }
}
@media (min-width: 1150px) {
  .week-product__img {
    position: absolute;
    top: 64px;
    right: 50px;
    width: 570px;
    height: 636px;
    padding-top: 0;
  }
}
.week-product__description {
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
  margin: 0;
  margin-bottom: 16px;
  font-size: 15px;
  font-weight: 400;
  color: #444444;
}
@media (min-width: 768px) {
  .week-product__description {
    margin-bottom: 35px;
    font-size: 17px;
    line-height: 30px;
  }
}
@media (min-width: 1150px) {
  .week-product__description {
    margin-bottom: 47px;
  }
}
.week-product__characteristics {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  margin: 0;
  margin-bottom: 28px;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  color: #444444;
}
@media (min-width: 768px) {
  .week-product__characteristics {
    margin-bottom: 54px;
    max-width: 290px;
  }
}
@media (min-width: 1150px) {
  .week-product__characteristics {
    margin-bottom: 110px;
  }
}
.week-product__characteristics-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ececec;
}
@media (min-width: 1150px) {
  .week-product__characteristics-line {
    padding-bottom: 9px;
  }
}
.week-product__label {
  width: 100px;
  margin: 0;
  text-align: left;
}
@media (min-width: 768px) {
  .week-product__label {
    width: 96px;
  }
}
@media (min-width: 1150px) {
  .week-product__label {
    width: 97px;
  }
}
.week-product__value {
  width: 170px;
  margin: 0;
  text-align: left;
}
.week-product__price {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
  margin: 0;
  margin-bottom: 24px;
  text-align: center;
  color: #444444;
}
@media (min-width: 768px) {
  .week-product__price {
    margin-bottom: 32px;
    max-width: 290px;
    font-size: 20px;
  }
}
@media (min-width: 1150px) {
  .week-product__price {
    margin-bottom: 33px;
  }
}
.week-product__btn {
  -webkit-box-ordinal-group: 5;
      -ms-flex-order: 4;
          order: 4;
  width: 100%;
}
@media (min-width: 768px) {
  .week-product__btn {
    width: 290px;
  }
}
.button {
  display: block;
  padding: 15px;
  font-family: inherit;
  font-size: 17px;
  font-weight: 800;
  line-height: 20px;
  color: #444444;
  text-align: center;
  text-transform: uppercase;
  background-color: #ffffff;
  border: 2px solid #444444;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.button:hover,
.button:focus {
  background-color: #444444;
  color: #ffffff;
}
.button:active {
  color: rgba(255, 255, 255, 0.3);
}
.button--cart-add {
  color: #ffffff;
  background-color: #63d1bb;
  border: none;
}
.about-us {
  padding-top: 28px;
  padding-bottom: 25px;
}
@media (min-width: 768px) {
  .about-us {
    padding-top: 54px;
    padding-bottom: 45px;
  }
}
@media (min-width: 1150px) {
  .about-us {
    padding: 60px 220px 52px;
  }
}
.about-us__title {
  margin: 0;
  margin-bottom: 3px;
  font-size: 25px;
  line-height: 30px;
}
@media (min-width: 768px) {
  .about-us__title {
    margin-bottom: 33px;
    font-size: 43px;
    line-height: 50px;
  }
}
@media (min-width: 1150px) {
  .about-us__title {
    font-size: 53px;
    line-height: 57px;
  }
}
@media (min-width: 768px) {
  .about-us__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media (min-width: 1150px) {
  .about-us__list {
    padding-left: 5px;
  }
}
.about-us__characteristic {
  position: relative;
  margin: 0;
  padding-top: 83px;
  line-height: 20px;
}
@media (min-width: 768px) {
  .about-us__characteristic {
    padding-top: 70px;
    padding-bottom: 40px;
    width: 300px;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    font-size: 20px;
    line-height: 22px;
  }
  .about-us__characteristic--eco {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
  }
  .about-us__characteristic--price {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .about-us__characteristic--likes {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
  }
  .about-us__characteristic--handmade {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .about-us__characteristic--local {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  .about-us__characteristic--present {
    -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
            order: 5;
  }
}
@media (min-width: 1150px) {
  .about-us__characteristic {
    padding-bottom: 41px;
  }
}
.about-us__characteristic::before {
  content: "";
  position: absolute;
  top: 30px;
  left: 0;
  width: 60px;
  height: 60px;
  background-repeat: no-repeat;
}
@media (min-width: 768px) {
  .about-us__characteristic::before {
    top: 15px;
  }
}
.about-us__characteristic--eco::before {
  left: 8px;
  background-image: url("../img/icon-feature-flower.svg");
}
.about-us__characteristic--price::before {
  background-image: url("../img/icon-feature-money.svg");
}
.about-us__characteristic--likes::before {
  top: 35px;
  left: 8px;
  background-image: url("../img/icon-feature-heart.svg");
}
@media (min-width: 768px) {
  .about-us__characteristic--likes::before {
    top: 23px;
  }
}
.about-us__characteristic--handmade::before {
  top: 32px;
  left: 3px;
  background-image: url("../img/icon-feature-ball.svg");
}
@media (min-width: 768px) {
  .about-us__characteristic--handmade::before {
    top: 17px;
  }
}
.about-us__characteristic--local::before {
  top: 32px;
  left: -7px;
  background-image: url("../img/icon-feature-rocket.svg");
}
@media (min-width: 768px) {
  .about-us__characteristic--local::before {
    top: 20px;
  }
}
.about-us__characteristic--present::before {
  left: 3px;
  background-image: url("../img/icon-feature-gift.svg");
}
.contacts {
  width: 100%;
  padding-top: 35px;
  padding-bottom: 38px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media (min-width: 768px) {
  .contacts {
    padding-bottom: 56px;
    padding-top: 0;
  }
}
@media (min-width: 1150px) {
  .contacts {
    display: block;
    width: 1150px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 38px;
    padding: 70px 50px 65px 220px;
  }
}
.contacts__title {
  margin: 0;
  padding-bottom: 25px;
  font-size: 18px;
  line-height: 30px;
}
@media (min-width: 768px) {
  .contacts__title {
    position: relative;
    padding-top: 25px;
    padding-right: 65px;
    margin-bottom: 24px;
    font-size: 43px;
    line-height: 50px;
  }
}
@media (min-width: 1150px) {
  .contacts__title {
    padding-top: 72px;
    padding-bottom: 47px;
    margin-bottom: 0;
    font-size: 53px;
    line-height: 57px;
  }
}
@media (min-width: 768px) {
  .contacts__title::after {
    content: "";
    position: absolute;
    top: 10px;
    right: 4px;
    width: 50px;
    height: 100px;
    background-image: url("../img/icon-flag.svg");
    background-repeat: no-repeat;
  }
}
@media (min-width: 1150px) {
  .contacts__title::after {
    top: 62px;
    left: -109px;
  }
}
.contacts__list {
  font-weight: 400;
  font-size: 15px;
  line-height: 30px;
  color: #444444;
}
@media (min-width: 768px) {
  .contacts__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-left: 3px;
    font-size: 17px;
  }
}
@media (min-width: 1150px) {
  .contacts__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.contacts__details {
  width: 320px;
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 38px;
  padding-left: 28px;
  padding-right: 30px;
}
@media (min-width: 768px) {
  .contacts__details {
    width: 100%;
    margin: 0;
    margin-bottom: 20px;
    padding: 36px 46px;
  }
}
@media (min-width: 1150px) {
  .contacts__details {
    padding: 0;
    margin-bottom: 78px;
  }
}
.contacts__map-section {
  position: relative;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  margin-bottom: 32px;
}
@media (min-width: 768px) {
  .contacts__map-section {
    margin-bottom: 48px;
  }
}
@media (min-width: 1150px) {
  .contacts__map-section {
    float: right;
  }
}
.contacts__map {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 457px;
}
@media (min-width: 768px) {
  .contacts__map {
    width: 768px;
  }
}
@media (min-width: 1150px) {
  .contacts__map {
    width: 525px;
  }
}
.contacts__iframe {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 457px;
  border: none;
}
@media (min-width: 768px) {
  .contacts__iframe {
    width: 100%;
  }
}
@media (min-width: 1150px) {
  .contacts__iframe {
    width: 525px;
    right: 0;
    left: initial;
  }
}
.contacts__btn {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  width: 260px;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 768px) {
  .contacts__btn {
    width: 230px;
  }
}
@media (min-width: 1150px) {
  .contacts__btn {
    display: inline-block;
    margin-left: 5px;
  }
}
.contacts__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
}
.contacts__item:last-child {
  margin-bottom: 0;
}
@media (min-width: 768px) {
  .contacts__item:nth-child(2n) {
    margin-right: 0;
  }
}
@media (min-width: 768px) {
  .contacts__item {
    margin-right: 53px;
    margin-bottom: 10px;
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
}
@media (min-width: 1150px) {
  .contacts__item {
    margin-right: 0;
    margin-bottom: 30px;
  }
}
.contacts__label {
  margin: 0;
  width: 80px;
}
@media (min-width: 768px) {
  .contacts__label {
    width: 77px;
  }
}
@media (min-width: 1150px) {
  .contacts__label {
    width: 80px;
  }
}
.contacts__value {
  margin: 0;
}
.contacts__value--email {
  position: relative;
}
.contacts__value--email:active .contacts__link,
.contacts__value--email:active .contacts__link::after {
  opacity: 0.3;
}
.contacts__value--email .contacts__link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #62d1ba;
}
.contacts__value--email .contacts__link:hover {
  color: #46c1ae;
}
.contacts__value--email .contacts__link:hover::after {
  background-color: #46c1ae;
}
.contacts__value--email .contacts__link:active,
.contacts__value--email .contacts__link:active::after {
  opacity: 0.3;
}
.social {
  width: 260px;
  padding: 25px 42px 22px 37px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (min-width: 768px) {
  .social {
    padding: 27px 40px 22px 40px;
  }
}
.social__logo {
  cursor: pointer;
  fill: #231f20;
}
.social__link:hover .social__logo {
  fill: #46c1ae;
}
.social__link:active .social__logo {
  opacity: 0.3;
}
.copyright {
  padding: 20px 37px 25px;
}
@media (min-width: 768px) {
  .copyright {
    padding-right: 0;
    padding-left: 7px;
    padding-top: 27px;
    width: 190px;
  }
}
.copyright__logo {
  fill: #63d1bb;
}
.copyright__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.copyright__link:hover .copyright__logo,
.copyright__link:focus .copyright__logo {
  fill: #46c1ae;
}
.copyright__link:active .copyright__text,
.copyright__link:active .copyright__logo {
  opacity: 0.3;
}
.copyright__text {
  font-size: 19px;
  line-height: 19px;
}
.cart-form {
  padding: 36px 30px 46px;
  text-align: center;
}
@media (min-width: 768px) {
  .cart-form {
    padding-left: 105px;
    padding-right: 105px;
  }
}
.cart-form__title {
  margin: 0;
  margin-bottom: 12px;
  padding-left: 50px;
  padding-right: 50px;
  font-size: 25px;
  line-height: 30px;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .cart-form__title {
    padding: 0;
    font-size: 30px;
    line-height: 57px;
  }
}
.cart-form__size-list {
  margin: 0;
  padding: 0;
  margin-bottom: 31px;
  border: none;
}
.cart-form__text {
  margin: 0;
  margin-bottom: 24px;
  font-weight: 400;
  font-size: 15px;
  line-height: 30px;
  text-align: center;
  color: #444444;
}
@media (min-width: 768px) {
  .cart-form__text {
    margin-bottom: 22px;
    font-size: 17px;
  }
}
.cart-form__size-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.cart-form__btn {
  width: 100%;
}
.cart-form__item {
  width: 82px;
  margin-right: 7px;
  color: #444444;
}
.cart-form__item:last-child {
  margin-right: 0;
}
@media (min-width: 768px) {
  .cart-form__item {
    width: 112px;
  }
}
.card {
  width: 100%;
}
@media (min-width: 768px) {
  .card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
@media (min-width: 1150px) {
  .card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 316px;
  }
}
.card:hover .card__description,
.card:focus .card__description {
  -webkit-box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
}
.card:active .card__description {
  -webkit-box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
}
.card__link--name {
  display: block;
  margin-bottom: 6px;
}
@media (min-width: 768px) {
  .card__link--name {
    font-size: 20px;
    margin-bottom: 4px;
  }
}
.card__link--name:hover,
.card__link--name:focus {
  opacity: 0.6;
}
.card__link--name:active {
  opacity: 0.3;
}
.card__characteristics {
  margin: 0;
  font-weight: 400;
  font-size: 13px;
  line-height: 30px;
  color: #444444;
}
@media (min-width: 768px) {
  .card__characteristics {
    font-size: 15px;
  }
}
.card__price {
  margin: 0;
}
@media (max-width: 767px) {
  .card__price {
    font-size: 15px;
  }
}
.card__icon {
  width: 21px;
  height: 18px;
  fill: #d3d2d2;
}
.card__icon:hover,
.card__icon:focus {
  fill: #63d1bb;
}
.card__icon:active {
  opacity: 0.3;
}
.card__img {
  display: block;
  width: 260px;
  height: 195px;
}
@media (min-width: 768px) {
  .card__img {
    width: 334px;
    height: 334px;
  }
}
@media (min-width: 1150px) {
  .card__img {
    width: 316px;
    height: 462px;
  }
}
.card__description {
  padding: 26px 27px;
  border: solid 1px #ececec;
  background-color: #ffffff;
}
@media (min-width: 768px) {
  .card__description {
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-right: 30px;
  }
}
@media (min-width: 1150px) {
  .card__description {
    width: 100%;
    padding: 25px 31px 27px 27px;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}
.card__order {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 22px;
  border-top: 1px solid #ececec;
}
@media (min-width: 768px) {
  .card__order {
    padding-left: 4px;
  }
}
@media (min-width: 768px) {
  .card__order {
    padding-left: 0;
  }
}
.card__label {
  padding-bottom: 18px;
}
@media (min-width: 768px) {
  .card__label {
    padding-right: 40px;
  }
}
@media (min-width: 1150px) {
  .card__label {
    padding-right: 15px;
    padding-bottom: 15px;
  }
}
.videos {
  margin-bottom: 60px;
}
@media (min-width: 768px) {
  .videos {
    margin-bottom: 63px;
  }
}
@media (min-width: 1150px) {
  .videos {
    position: relative;
    margin-bottom: 105px;
    padding-left: 732px;
  }
}
.video-card {
  width: 100%;
  border: 1px solid #ececec;
}
@media (min-width: 768px) {
  .video-card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-bottom: 46px;
    padding-top: 0;
  }
}
@media (min-width: 1150px) {
  .video-card {
    min-height: 455px;
    padding: 40px 56px 40px 77px;
  }
  .video-card:hover,
  .video-card:focus {
    -webkit-box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
            box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
  }
  .video-card:active {
    -webkit-box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
            box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
  }
}
.video-card__title {
  position: relative;
  margin: 0;
  padding: 24px 24px 24px 88px;
  font-size: 17px;
  line-height: 24px;
}
.video-card__title::before {
  content: "";
  position: absolute;
  top: 30px;
  left: 32px;
  width: 32px;
  height: 32px;
  background-image: url("../img/icon-video.svg");
  background-repeat: no-repeat;
}
@media (min-width: 768px) {
  .video-card__title {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    padding: 38px 106px 32px;
    font-size: 20px;
  }
  .video-card__title::before {
    top: 32px;
    left: 40px;
  }
}
@media (min-width: 1150px) {
  .video-card__title {
    padding: 55px 0 33px;
  }
  .video-card__title::before {
    top: 0;
    left: 0;
  }
}
.video-card__visual {
  position: relative;
}
@media (min-width: 768px) {
  .video-card__visual {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
  }
}
@media (min-width: 1150px) {
  .video-card__visual {
    position: absolute;
    top: 50%;
    left: 50px;
    margin-top: -227px;
  }
}
.video-card__img {
  display: block;
  width: 260px;
  height: 150px;
}
@media (min-width: 768px) {
  .video-card__img {
    width: 668px;
    height: 455px;
  }
}
@media (min-width: 1150px) {
  .video-card__img {
    width: 682px;
  }
}
.video-card__icon {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 101px;
  height: 77px;
  margin: -36px -50px;
  border: none;
  background-color: transparent;
  background-image: url("../img/icon-play.svg");
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.video-card__icon:hover,
.video-card__icon:focus {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
.video-card__icon:active {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  opacity: 0.3;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.video-card__description {
  width: 260px;
  padding: 27px 34px 30px;
}
@media (min-width: 768px) {
  .video-card__description {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    width: 100%;
    padding: 0 40px;
  }
}
@media (min-width: 1150px) {
  .video-card__description {
    padding: 0;
  }
}
.video-card__text {
  margin: 0;
  margin-bottom: 25px;
  font-weight: 400;
  font-size: 13px;
  color: #444444;
}
@media (min-width: 768px) {
  .video-card__text {
    font-size: 15px;
    line-height: 30px;
    margin-bottom: 35px;
  }
}
@media (min-width: 1150px) {
  .video-card__text {
    margin-bottom: 46px;
  }
}
.video-card__btn {
  width: 100%;
  line-height: 17px;
}
@media (min-width: 1150px) {
  .video-card__btn {
    width: 230px;
  }
}
.logo:hover .logo__img,
.logo:focus .logo__img {
  fill: #46c1ae;
}
.logo:active .logo__img,
.logo svg:active {
  opacity: 0.3;
}
.logo:hover .logo__img--decorated,
.logo:focus .logo__img--decorated {
  opacity: 0.6;
}
.logo:active {
  opacity: 0.3;
}
.logo:active img {
  opacity: 0.3;
}
.logo__img {
  width: 102px;
  height: 34px;
  cursor: pointer;
}
.logo__img--decorated {
  width: 86px;
  height: 35px;
}
@media (min-width: 768px) {
  .logo__img--decorated {
    width: 110px;
    height: 46px;
  }
}
@media (min-width: 1150px) {
  .logo__img--decorated {
    width: 150px;
    height: 72px;
  }
}
.shop {
  padding-top: 30px;
  padding-bottom: 30px;
}
@media (min-width: 768px) {
  .shop {
    padding-top: 68px;
    padding-bottom: 53px;
  }
}
@media (min-width: 1150px) {
  .shop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-top: 112px;
    padding-bottom: 26px;
  }
}
.shop__card {
  margin-bottom: 30px;
}
.shop__card:last-child {
  margin-bottom: 0;
}
@media (min-width: 768px) {
  .shop__card {
    margin-bottom: 54px;
  }
  .shop__card:last-child {
    margin-bottom: 0;
  }
}
@media (min-width: 1150px) {
  .shop__card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 30px;
    margin-right: 50px;
  }
  .shop__card:nth-child(3n) {
    margin-right: 0;
    margin-bottom: 30px;
  }
}
.order-form {
  padding-top: 21px;
  padding-bottom: 54px;
}
@media (min-width: 768px) {
  .order-form {
    padding-top: 63px;
    padding-bottom: 50px;
  }
}
@media (min-width: 1150px) {
  .order-form {
    padding-top: 74px;
  }
}
.order-form__text {
  margin-top: 0;
  margin-bottom: 24px;
  font-size: 13px;
  font-weight: 400;
  color: #444444;
  text-align: left;
}
@media (min-width: 768px) {
  .order-form__text {
    margin-bottom: 53px;
    font-size: 17px;
    line-height: 30px;
  }
}
@media (min-width: 1150px) {
  .order-form__text {
    padding: 30px 224px;
    margin-bottom: 0;
  }
}
.order-form__remark {
  margin: 0;
  margin-bottom: 30px;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  color: #444444;
  text-align: left;
}
@media (min-width: 768px) {
  .order-form__remark {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin-bottom: 0;
    font-size: 17px;
    line-height: 30px;
  }
}
.order-form__btn {
  width: 100%;
}
@media (min-width: 768px) {
  .order-form__btn {
    width: 230px;
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
  }
}
@media (min-width: 1150px) {
  .order-form__btn {
    margin-right: 170px;
  }
}
.order-form__contacts-wrap {
  margin-bottom: 35px;
}
@media (min-width: 768px) {
  .order-form__contacts-wrap {
    padding-top: 28px;
    padding-bottom: 50px;
    margin-bottom: 4px;
    background-color: #f1f1f1;
  }
}
@media (min-width: 1150px) {
  .order-form__contacts-wrap {
    padding-top: 30px;
  }
}
@media (min-width: 768px) {
  .order-form__bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}
@media (min-width: 1150px) {
  .order-form__bottom {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}
@media (min-width: 768px) {
  .order-form__user-form {
    padding-bottom: 47px;
  }
}
@media (min-width: 768px) {
  .order-form__tel-form {
    margin-bottom: 6px;
  }
}
@media (min-width: 1150px) {
  .order-form__tel-form {
    margin-bottom: 8px;
  }
}
.type-filter {
  padding-top: 0;
  padding-bottom: 0;
  margin-bottom: 30px;
  border: none;
}
@media (min-width: 768px) {
  .type-filter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-bottom: 47px;
  }
}
@media (min-width: 1150px) {
  .type-filter {
    padding-top: 24px;
  }
}
.type-filter__title {
  position: relative;
  margin: 0;
  margin-bottom: 22px;
  line-height: 17px;
  color: #63d1bb;
  text-transform: uppercase;
}
@media (max-width: 767px) {
  .type-filter__title::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 62px;
    width: 200px;
    height: 1px;
    background-color: #62d1ba;
  }
}
@media (min-width: 768px) {
  .type-filter__title {
    padding-top: 20px;
    margin-right: 90px;
  }
}
@media (min-width: 1150px) {
  .type-filter__title {
    margin-right: 35px;
  }
}
.type-filter__item {
  display: block;
  padding: 12px 10px 12px 62px;
  line-height: 18px;
}
@media (min-width: 768px) {
  .type-filter__item {
    padding: 20px 20px 37px 120px;
    font-size: 19px;
    line-height: 19px;
  }
}
@media (min-width: 768px) {
  .type-filter__item:last-child {
    padding-bottom: 20px;
  }
}
.color-filter {
  padding: 0;
  border: none;
}
@media (min-width: 768px) {
  .color-filter {
    margin-bottom: 32px;
    background-color: #f1f1f1;
  }
}
@media (min-width: 1150px) {
  .color-filter {
    margin-bottom: 0;
  }
}
.color-filter__title {
  position: relative;
  margin: 0;
  margin-bottom: 25px;
  line-height: 17px;
  color: #63d1bb;
  text-transform: uppercase;
}
@media (max-width: 767px) {
  .color-filter__title::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 62px;
    width: 198px;
    height: 1px;
    background-color: #62d1ba;
  }
}
@media (min-width: 768px) {
  .color-filter__title {
    margin-right: 85px;
    padding-top: 20px;
  }
}
@media (min-width: 1150px) {
  .color-filter__title {
    margin-right: 30px;
  }
}
.color-filter__item {
  display: block;
  padding: 12px 10px 31px 62px;
  line-height: 18px;
}
@media (max-width: 767px) {
  .color-filter__item:last-child {
    padding-bottom: 12px;
  }
}
@media (min-width: 768px) {
  .color-filter__item {
    width: 260px;
    padding: 20px 20px 38px 120px;
    font-size: 19px;
  }
}
@media (min-width: 768px) {
  .color-filter__wrap {
    padding-top: 45px;
    padding-bottom: 28px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}
@media (min-width: 1150px) {
  .color-filter__wrap {
    padding-right: 160px;
    margin-bottom: 34px;
  }
}
.color-filter__list {
  width: 100%;
}
@media (min-width: 768px) {
  .color-filter__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
.input-form {
  padding-top: 30px;
}
@media (min-width: 768px) {
  .input-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}
@media (min-width: 1150px) {
  .input-form {
    padding-top: 28px;
  }
}
.input-form__title {
  position: relative;
  margin: 0;
  margin-bottom: 17px;
  line-height: 17px;
  color: #63d1bb;
  text-transform: uppercase;
}
@media (max-width: 767px) {
  .input-form__title::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 62px;
    width: 200px;
    height: 1px;
    background-color: #62d1ba;
  }
}
@media (max-width: 767px) {
  .input-form__title--email::after {
    left: 80px;
    width: 180px;
  }
}
@media (min-width: 768px) {
  .input-form__title {
    margin-bottom: 0;
    width: 150px;
  }
}
@media (min-width: 1150px) {
  .input-form__title {
    width: 100px;
  }
}
.input-form__item {
  margin-bottom: 14px;
}
@media (min-width: 768px) {
  .input-form__item {
    margin-bottom: 36px;
  }
}
.input-form__item:last-child {
  margin-bottom: 0;
}
.input {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  line-height: 18px;
}
@media (min-width: 768px) {
  .input {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    width: 500px;
    font-size: 19px;
    line-height: 19px;
  }
}
@media (min-width: 1150px) {
  .input {
    width: 700px;
  }
}
.input__label {
  padding-top: 10px;
  padding-bottom: 10px;
}
@media (min-width: 768px) {
  .input__label {
    padding-top: 0;
    margin-right: 22px;
  }
}
.input__control {
  padding-top: 4px;
  padding-bottom: 16px;
  width: 100%;
  font-family: inherit;
  font-size: 17px;
  font-weight: 400;
  line-height: 18px;
  border: none;
  border-bottom: 2px solid #000000;
  background-color: transparent;
}
.input__control:hover,
.input__control:focus {
  border-color: #62d1ba;
  outline: 0;
}
.input__control:hover ~ .input__icon,
.input__control:focus ~ .input__icon {
  fill: #62d1ba;
}
.input__control:active {
  color: #444444;
}
.input__control--tel {
  font-size: 19px;
  line-height: 19px;
  padding-top: 0;
  padding-bottom: 15px;
}
@media (min-width: 768px) {
  .input__control {
    padding: 0 18px 14px;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    font-size: 19px;
    line-height: 19px;
  }
}
.input--icon .input__control {
  padding-right: 45px;
}
.input--icon .input__control:hover,
.input--icon .input__control:focus {
  fill: #62d1ba;
}
@media (min-width: 768px) {
  .input--icon .input__control {
    padding-right: 80px;
  }
}
.input__icon {
  position: absolute;
  top: 0;
  right: 0;
  width: 32px;
  height: 32px;
  fill: #cccccc;
}
@media (min-width: 768px) {
  .input__icon {
    right: 20px;
  }
}
@media (min-width: 1150px) {
  .input__icon {
    right: 0;
  }
}
.textarea {
  margin-bottom: 10px;
}
@media (min-width: 768px) {
  .textarea {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 0;
    padding-top: 44px;
    padding-bottom: 44px;
  }
}
@media (min-width: 1150px) {
  .textarea {
    padding-bottom: 40px;
  }
}
.textarea__title {
  position: relative;
  margin: 0;
  margin-bottom: 25px;
  line-height: 17px;
  color: #63d1bb;
  text-transform: uppercase;
}
@media (max-width: 767px) {
  .textarea__title::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 62px;
    width: 200px;
    height: 1px;
    background-color: #62d1ba;
  }
}
@media (min-width: 768px) {
  .textarea__title {
    padding-top: 18px;
    width: 150px;
  }
}
@media (min-width: 1150px) {
  .textarea__title {
    width: 100px;
  }
}
@media (min-width: 768px) {
  .textarea__item {
    width: 500px;
  }
}
@media (min-width: 1150px) {
  .textarea__item {
    width: 700px;
  }
}
.textarea__control {
  width: 100%;
  padding: 15px 13px;
  font-family: inherit;
  font-size: 17px;
  font-weight: 400;
  line-height: 18px;
  border: 2px solid #444444;
}
@media (min-width: 768px) {
  .textarea__control {
    padding: 13px;
    width: 100%;
    font-size: 19px;
    line-height: 19px;
  }
}
.textarea__control:hover,
.textarea__control:focus {
  border-color: #62d1ba;
  outline: 0;
}
.textarea__control:active {
  color: #444444;
}
.popup {
  display: none;
  position: fixed;
  z-index: 10;
}
.popup__show {
  display: block;
}
.popup__form {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 20;
  width: 320px;
  margin-top: -168px;
  margin-left: -160px;
  background-color: #ffffff;
  -webkit-box-shadow: 0 5px 10px 0 rgba(0, 1, 1, 0.25);
          box-shadow: 0 5px 10px 0 rgba(0, 1, 1, 0.25);
  border: solid 1px #c6c6c6;
}
@media (min-width: 768px) {
  .popup__form {
    width: 566px;
    margin-left: -283px;
  }
}
.popup__overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.9);
}
.radio__label {
  position: relative;
}
.radio__control--round ~ .radio__label::before {
  content: "";
  position: absolute;
  left: -62px;
  top: -7px;
  width: 40px;
  height: 40px;
  border: 2px solid #444444;
  border-radius: 50%;
}
@media (min-width: 768px) {
  .radio__control--round ~ .radio__label::before {
    top: -13px;
    left: -80px;
    width: 52px;
    height: 52px;
  }
}
.radio__control--round ~ .radio__label:hover::before {
  border-color: #62d1ba;
}
.radio__control--round ~ .radio__label:active::before {
  border-color: rgba(68, 68, 68, 0.3);
}
.radio__control--round:focus ~ .radio__label::before {
  border-color: #62d1ba;
}
.radio__control:not(.radio__control--square):checked ~ .radio__label::after {
  content: "";
  position: absolute;
  top: 5px;
  left: -50px;
  display: block;
  width: 16px;
  height: 16px;
  background-color: #62d1ba;
  border-radius: 50%;
}
@media (min-width: 768px) {
  .radio__control:not(.radio__control--square):checked ~ .radio__label::after {
    top: 3px;
    left: -65px;
    width: 22px;
    height: 22px;
  }
}
.radio__control--square ~ .radio__label {
  display: inline-block;
  width: 82px;
  padding-top: 12px;
  padding-bottom: 12px;
  border: 2px solid rgba(68, 68, 68, 0.1);
}
@media (min-width: 768px) {
  .radio__control--square ~ .radio__label {
    width: 112px;
  }
}
.radio__control--square ~ .radio__label:hover,
.radio__control--square ~ .radio__label:focus {
  border-color: rgba(68, 68, 68, 0.2);
}
.radio__control--square ~ .radio__label:active {
  border-color: #62d1ba;
}
.radio__control--square:checked ~ .radio__label {
  border-color: #62d1ba;
}
.checkbox__label {
  position: relative;
}
.checkbox__label::before {
  content: "";
  position: absolute;
  top: -9px;
  left: -62px;
  width: 40px;
  height: 40px;
  border: 2px solid #444444;
}
@media (min-width: 768px) {
  .checkbox__label::before {
    top: -12px;
    left: -81px;
    width: 54px;
    height: 52px;
  }
}
.checkbox__label:hover::before {
  border-color: #62d1ba;
}
.checkbox__label:active::before {
  border-color: rgba(68, 68, 68, 0.3);
}
.checkbox__control:focus ~ .checkbox__label::before {
  border-color: #62d1ba;
}
.checkbox__control:checked ~ .checkbox__label::after {
  content: "";
  position: absolute;
  top: 3px;
  left: -52px;
  display: block;
  width: 22px;
  height: 11px;
  border-left: 2px solid #444444;
  border-bottom: 2px solid #444444;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
@media (min-width: 768px) {
  .checkbox__control:checked ~ .checkbox__label::after {
    left: -70px;
    width: 30px;
    height: 16px;
  }
}

/*# sourceMappingURL=style.css.map */
