@keyframes grow {
  0% {
    opacity: 0;
    transform: scale(1);
  }

  50% {
    opacity: 0.8;
  }

  100% {
    opacity: 0;
    transform: scale(2);
  }
}

.wishes {
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  animation: grow 1.8s cubic-bezier(0,0,.58,1.7) forwards;
  margin: 0;
  position: absolute;
  z-index: 10;
}
